.background-image {
  background-image: url('https://live.staticflickr.com/65535/52797720346_482e591afc_b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
    
    
}
